


:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);

    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: #260f08;

    --weight1: 400;
    --weight2: 600;
    --weight3: 700;
}


.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-start {
    justify-content: start;
}


@media (min-width: 768px) {
    .container {
        background-color: var(--rose-50);
        padding: 35px 25px;
        border-radius: 5px;
    }

    .title {
        margin-bottom: 25px;
    }

    .title h1 {
        color: var(--red);
        font-family: "RedhatSemiBold", sans-serif;
        font-size: 24px;
    }

    .added-items {
        text-align: center;
    }

    .added-items img {
        margin-bottom: 20px;
    }

    .added-items p {
        text-align: left;
        color: var(--rose-900);
        font-family: "RedhatSemiBold", sans-serif;
    }

    .item {
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item-about .item-name {
        margin-bottom: 5px;
    }

    .item-interaction {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
    }

    .item-interaction img {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--rose-300);
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(50%);
    }

    .item-interaction img:hover {
        border: 1px solid black;
        filter: brightness(0) saturate(100%) invert(0%) sepia(96%)
            saturate(7480%) hue-rotate(296deg) brightness(101%) contrast(101%);
    }

    .about-price {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 13px;
    }

    .about-price .curr-quantity {
        color: var(--red);
        font-size: 13px;
        margin-right: 5px;
    }

    .about-price .one-price {
        color: var(--rose-300);
        margin-right: 5px;
    }

    .about-price .total-price {
        color: var(--rose-400);
    }

    .order-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .order-total .order-label {
        font-size: 12px;
        color: var(--rose-500);
    }

    .order-total .order-value {
        font-family: "RedhatBold", sans-serif;
        font-size: 16px;
        color: var(--rose-900);
    }

    .reminder {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        margin-bottom: 20px;
        padding: 15px;
        background-color: var(--rose-100);
    }

    .reminder p {
        color: var(--rose-500);
    }

    .reminder-icon {
        margin-right: 10px;
    }

    .reminder-icon img {
        margin: auto;
    }

    .reminder-info {
        font-family: "RedhatSemiBold", sans-serif;
        color: var(--rose-900);
    }

    .confirm-btn {
        width: 100%;
    }

    .confirm-btn button {
        width: 100%;
        border-radius: 30px;
        background-color: var(--red);
        padding: 15px;
        color: var(--rose-50);
    }

    .confirm-btn button:hover {
        cursor: pointer;
        background-color: hsl(14, 86%, 32%); 
    }
}

@media (min-width: 300px) {
    .container {
        background-color: var(--rose-50);
        padding: 35px 25px;
        border-radius: 5px;
    }

    .title {
        margin-bottom: 25px;
    }

    .title h1 {
        color: var(--red);
        font-family: "RedhatSemiBold", sans-serif;
        font-size: 24px;
    }

    .added-items {
        text-align: center;
    }

    .added-items img {
        margin-bottom: 20px;
    }

    .added-items p {
        text-align: left;
        color: var(--rose-900);
        font-family: "RedhatSemiBold", sans-serif;
    }

    .item {
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item-about .item-name {
        margin-bottom: 5px;
    }

    .item-interaction {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
    }

    .item-interaction img {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--rose-300);
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(50%);
    }

    .item-interaction img:hover {
        border: 1px solid black;
        filter: brightness(0) saturate(100%) invert(0%) sepia(96%)
            saturate(7480%) hue-rotate(296deg) brightness(101%) contrast(101%);
    }

    .about-price {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 13px;
    }

    .about-price .curr-quantity {
        color: var(--red);
        font-size: 13px;
        margin-right: 5px;
    }

    .about-price .one-price {
        color: var(--rose-300);
        margin-right: 5px;
    }

    .about-price .total-price {
        color: var(--rose-400);
    }

    .order-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .order-total .order-label {
        font-size: 12px;
        color: var(--rose-500);
    }

    .order-total .order-value {
        font-family: "RedhatBold", sans-serif;
        font-size: 16px;
        color: var(--rose-900);
    }

    .reminder {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        margin-bottom: 20px;
        padding: 15px;
        background-color: var(--rose-100);
    }

    .reminder p {
        color: var(--rose-500);
    }

    .reminder-icon {
        margin-right: 10px;
    }

    .reminder-icon img {
        margin: auto;
    }

    .reminder-info {
        font-family: "RedhatSemiBold", sans-serif;
        color: var(--rose-900);
    }

    .confirm-btn {
        width: 100%;
    }

    .confirm-btn button {
        width: 100%;
        border-radius: 30px;
        background-color: var(--red);
        padding: 15px;
        color: var(--rose-50);
    }

    .confirm-btn button:hover {
        cursor: pointer;
        background-color: hsl(14, 86%, 32%); 
    }
}
