:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: #260f08;
  --weight1: 400;
  --weight2: 600;
  --weight3: 700;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(13, 31%, 94%);
  position: relative;
  z-index: 0;
}

.wrapper {
  display: grid;
  padding: 20px 20px;
}

.desserts-grid {
  width: 100%;
}

.desserts-title {
  font-size: 30px;
  font-family: "RedhatBold";
  color: var(--rose-900);
  margin-bottom: 30px;
  margin-top: 60px;
}

.dessert-container {
  width: 100%;
}


.confirm-order {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; 
  max-width: 450px; 
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 10px;
  background-color: var(--rose-50);
  z-index: 9999;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
}


@media (max-width: 767px) {
  .confirm-order {
    max-width: 90%; 
    padding: 10px; 
  }
}

@media (min-width: 300px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
  }

  .wrapper {
    padding: 30px;
    width: 100%;
    position: relative;
  }

  .title img {
    margin-bottom: 10px;
    width: 2rem;
  }

  .title h1 {
    font-family: "RedhatSemiBold";
  }

  .title p {
    color: var(--rose-400);
  }

  .items {
    background-color: hsl(13, 31%, 94%);
    padding: 10px;
  }

  .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
  }

  .item-image {
    width: 3rem;
    border-radius: 6px;
    margin-right: 20px;
  }

  .item-image img {
    width: 3rem;
    border-radius: 6px;
  }

  .item-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .left-side .name {
    color: var(--rose-900);
    font-weight: var(--weight2);
    font-size: 12px;
  }

  .extra-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .quantity {
    color: var(--red);
    font-weight: var(--weight2);
  }

  .price {
    color: var(--rose-300);
    margin-left: 15px;
  }

  .right-side {
    margin-right: 10px;
    font-weight: var(--weight2);
  }

  .order-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
  }

  .total-label {
    color: var(--rose-400);
    font-size: 14px;
    font-weight: var(--weight1);
  }

  .total {
    font-size: 20px;
    font-family: "RedhatSemiBold";
  }

  .start-btn {
    margin-top: 10px;
    width: 100%;
    border: 1px solid rgb(200, 49, 49);
    border-radius: 30px;
    background-color: rgb(165, 50, 50);
    padding: 15px;
    color: white;
  }

  .start-btn:hover {
    cursor: pointer;
    background-color: hsl(14, 86%, 32%);
  }
}


