.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(13, 31%, 94%);
  position: relative;
  z-index: 0;
}

.wrapper {
  display: grid;
  padding: 20px;
}

.desserts-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px;
}

.desserts-title {
  font-size: 24px;
  font-family: "RedhatBold";
  color: var(--rose-900);
  margin-bottom: 20px;
}

.dessert-container {
  width: 100%;
}


.confirm-order {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; 
  max-width: 450px; 
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 10px;
  background-color: var(--rose-50);
  z-index: 9999;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
}


@media (max-width: 767px) {
  .confirm-order {
    max-width: 90%; 
    padding: 10px; 
  }
}

@media (min-width: 480px) {
  .wrapper {
    padding: 40px;
  }

  .desserts-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (min-width: 960px) {
  .wrapper {
    grid-template-columns: 5fr 3fr;
  }

  .desserts-title {
    font-size: 30px;
  }

  .desserts-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}
