:root {
  --rose-50: hsl(20, 50%, 98%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-900: #260f08;
  --red: hsl(14, 86%, 42%);
  --weight1: 400;
  --weight2: 600;
  --font-family-semi-bold: "RedhatSemiBold", sans-serif;
  --font-size-small: 16px;
  --font-size-medium: 14px;
  --font-size-large: 20px;
}

/* Grid layout for dessert images */
.dessert-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Adjust spacing between items as needed */
}

.dessert {
  width: 100%;
}

.dessert-img {
  width: 100%; /* Ensure image container takes full width of its grid cell */
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
}

.dessert-img img {
  width: 100%; /* Ensure image fits within its container */
  object-fit: cover;
  border-radius: 5px;
}

/* Media queries for larger screens */
@media (min-width: 960px) {
  .dessert {
    width: 250px;
  }

  .dessert-img {
    width: 15rem;
  }

  .add-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
  }

  .add-cart-button {
    padding: 10px;
    border-radius: 40px;
    width: 175px;
    border: 1px solid var(--rose-900);
    font-family: var(--font-family-semi-bold);
    background-color: var(--rose-50);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-cart-button .add-cart-icon {
    width: 2rem;
  }

  .add-cart-button:hover {
    border: 1px solid var(--red);
    cursor: pointer;
    color: var(--red);
  }

  .pick-form {
    padding: 10px;
    border-radius: 40px;
    width: 175px;
    border: 1px solid var(--rose-900);
    font-family: var(--font-family-semi-bold);
    background-color: var(--red);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pick-form .increase-btn,
  .pick-form .decrease-btn {
    color: white;
    font-size: var(--font-size-large);
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pick-form .increase-btn:hover,
  .pick-form .decrease-btn:hover {
    background-color: white;
    color: var(--red);
    cursor: pointer;
  }

  .pick-form .increase-btn:hover img,
  .pick-form .decrease-btn:hover img {
    filter: brightness(0) saturate(100%) invert(24%) sepia(68%) saturate(2249%) hue-rotate(355deg) brightness(99%) contrast(96%);
  }

  .pick-form .increase-btn img,
  .pick-form .decrease-btn img {
    width: 0.75rem;
  }

  .content {
    margin-top: 40px;
  }

  .dessert-name {
    font-size: var(--font-size-small);
    color: var(--rose-900);
  }

  .dessert-category {
    color: var(--rose-400);
    font-size: var(--font-size-medium);
  }

  .dessert-price {
    color: var(--red);
    font-family: var(--font-family-semi-bold);
    font-size: var(--font-size-medium);
  }

  .selected {
    border: 3px solid var(--red);
    border-radius: 10px;
  }
}

/* Media queries for smaller screens */
@media (min-width: 300px) {
  .dessert-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust to fit smaller screens */
  }

  .dessert {
    width: 100%;
  }

  .dessert-img {
    width: 90%;
  }

  .add-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
  }

  .add-cart-button {
    padding: 10px;
    border-radius: 40px;
    width: 150px;
    border: 1px solid var(--rose-900);
    font-family: var(--font-family-semi-bold);
    background-color: var(--rose-50);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-cart-button .add-cart-icon {
    width: 2rem;
  }

  .add-cart-button:hover {
    border: 1px solid var(--red);
    cursor: pointer;
    color: var(--red);
  }

  .pick-form {
    padding: 10px;
    border-radius: 40px;
    width: 175px;
    border: 1px solid var(--rose-900);
    font-family: var(--font-family-semi-bold);
    background-color: var(--red);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pick-form .increase-btn,
  .pick-form .decrease-btn {
    color: white;
    font-size: var(--font-size-large);
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pick-form .increase-btn:hover,
  .pick-form .decrease-btn:hover {
    background-color: white;
    color: var(--red);
    cursor: pointer;
  }

  .pick-form .increase-btn:hover img,
  .pick-form .decrease-btn:hover img {
    filter: brightness(0) saturate(100%) invert(24%) sepia(68%) saturate(2249%) hue-rotate(355deg) brightness(99%) contrast(96%);
  }

  .pick-form .increase-btn img,
  .pick-form .decrease-btn img {
    width: 0.75rem;
  }

  .content {
    margin: 30px 0 20px 20px;
  }

  .dessert-name {
    font-size: var(--font-size-small);
    color: var(--rose-900);
  }

  .dessert-category {
    color: var(--rose-400);
    font-size: var(--font-size-medium);
  }

  .dessert-price {
    color: var(--red);
    font-family: var(--font-family-semi-bold);
    font-size: var(--font-size-medium);
  }

  .selected {
    border: 3px solid var(--red);
    border-radius: 10px;
  }
}
