@font-face {
    font-family: "Redhat";
    src: url("/assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "RedhatBold";
    src: url("/assets/fonts/static/RedHatText-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "RedhatSemiBold";
    src: url("/assets/fonts/static/RedHatText-SemiBold.ttf") format("truetype");
  }
  