.grid-2x3 {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
  }